#search-chats-div {
  margin-left: 0;
  float: left;
  padding: 10px;
  border-right: 5px solid white;
  height: 100%;
  width: 40%;
  background-color: transparent;
  padding: 5px;
  align-items: center;
  justify-content: center;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.222);

    &:hover {
      background-color: rgba(0, 0, 0, 0.468);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }


  input {
    position: relative;
    display: flex;
    margin-top: 10px;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80%;
  }

  div#chats-and-contacts {
    padding: 10px;
    margin: 10px;
    height: 100%;
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.222);

      &:hover {
        background-color: rgba(0, 0, 0, 0.468);
      }
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }



    div#search-chat-results {
      height: 300px;
      overflow: scroll;
      position: absolute;
      background-image: url(../../../assets/login-page-bg.jpg);
      background-size: cover;
      z-index: 1;
      border:2px solid white;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      width: 350px;
      padding: 5px;
      margin-right: auto;
      margin-left: auto;
      border-radius: 10px;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.222);

        &:hover {
          background-color: rgba(0, 0, 0, 0.468);
        }
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      #search-result-container {
        margin-top: 30px;

        #search-result {
          h6 {
            margin: 0;
          }

          width: 300px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 0;
          padding: 10px;
          border-radius: 10px;
          border: 2px solid white;
          backdrop-filter: blur(8px);
          margin: 5px;

          button#add-friend {
            background-color: transparent;
            border: 0;
            cursor: pointer;
            font-size: large;
          }
        }


      }

      #close-button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        float: left;
        text-align: right;
        position: inherit;
        right: 0;
        z-index: 3;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
      }
    }

    div#chat-item {
      padding: 10px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      width: 90%;
      border: white 2px solid;
      border-radius: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      height: 50px;
      cursor: pointer;

      p {
        margin: 0;
      }
    }
  }
}