div#requests-parent-container {
    width: 60%;
    position: absolute;
    height: 90%;
    background-color: transparent;
    background-image: url(../../../assets/login-page-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid white;
    z-index: 4;
    visibility: hidden;
    top: 10px;
    #requests {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        overflow-y: scroll;
        margin-top: 60px;
        padding: 10px;
        #request-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 2px solid white;
            border-radius: 10px;
            backdrop-filter: blur(8px);
            padding: 10px;
            #buttons {
                margin: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                button {
                    margin: 10px;
                    background-color: transparent;
                    border: 0;
                    font-size: 25px;
                    cursor: pointer;
                }
            }
        }
    }
    button#close-button {
        background-color: transparent;
        border: 0;
        position: absolute;
        right: 0;
        margin: 10px;
        font-size: larger;
        cursor: pointer;
    }
}